img {
    width: 100%;
}

.element {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ffa000;
    border-radius: 20px;
    overflow: hidden;
}

.name {

}

.description {

}

.price {

}

.addToCart {

}

.wrapElement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-gap: 20px;
}