.app-wrapper {
  display: grid;
  grid-template-areas:
  "n m";
  height: 100vh;
  padding: 20px;
  grid-template-columns: 1fr 5fr;
}

.app-content-wrapper {
  background-color: #f9f9f9;
  grid-area: m;
  grid-row: 1/6;
  grid-column: 2/6;
  padding: 20px;
  border-radius: 20px;
}

h3 {
  color: #ff8d00;
  font-size: 25px;
  margin: 0;
}

h2 {
  color: #da5c02;
  margin-top: 0;
  font-size: 27px;
}

h4 {
  color: #ff8d00;
  font-size: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}